.DS_Store

## User settings
xcuserdata/
#*.xcscheme

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

.build/
.idea/

*.iml
.gradle
local.properties
build/
captures/
.externalNativeBuild
.cxx.DS_Store
*/flow/build/
*/compiler/build/

